*{
    box-sizing: border-box;
}
body{
    overflow-y:auto;
}
#question1{
    font-size: 150%;
}
#question2{
    display: none;
    font-size: 150%;

}
#question3{
    display: none;
    font-size: 150%;
}
#question4{
    display: none;
    font-size: 150%;
}
#question5{
    display: none;
    font-size: 150%;
}
#question6{
    display: none;
    font-size: 150%;
}
#question7{
    display: none;
    font-size: 150%;
}
#question8{
    display: none;
    font-size: 150%;
}
#question9{
    display: none;
    font-size: 150%;
}
#question10{
    display: none;
    font-size: 150%;
}
#div-right{
    width:40%;
    
}

#div-img{
    display: flex;
    justify-content: center;
    width:100%;
    height:150px;
    margin-top: 3%;
}
.timer-img-div{
    width:20%;
}
#question-img-id{
    width: 100%;
}
.timer-div{
    margin-top:0;
    width:20%;
}
#time{
    width:50%;   
    height:150px;
    font-size:40px;
}
.div-cotainer{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 3%;
}
#div-img2{
    width: 40%;
    padding-left: 10%;
}
button{
    width: 100%;
    font-size: 24px;
   margin-top: 5%;
  padding: 1%;
  border-radius: 25px;
  background-color: rgb(251, 238, 221);
   /* margin-left: 10%; */
}
button:hover{
    box-shadow: 2px 2px 10px rgb(86, 86, 85);
    font-size:28px;
}
.welcomeP{
    font-size: 30px;
    font-weight: bold;
}
    #timer-img-id{
       height:110px;
}
html {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
background: linear-gradient(45deg, #216b7b, #ffffff , rgb(194, 210, 255));
background-size: 400% 400%;
animation: animateBackground 10s ease infinite;
}

@keyframes animateBackground {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}
@media (min-width:900px) and (max-width:1100px){
    #div-right{
        width:55%;
    }
    #div-img2{
        width:40%;
    }
    div-cotainer{
        font-size: 15px;

    }
  }
  @media (min-width:620px) and (max-width:899px){

    .div-cotainer{
        margin-top:0;
        display: flex;
        flex-direction: column-reverse;
    }
    #div-img2{
        margin:0 auto; 
        width:50%;
    }
   
    #div-right{
        width: 90%;
        margin-left: 5%;
    }
    #question-img-id{
        width:70%;
    }
    #div-img{
        height:130px;
        margin-top:0%;
    }
    #timer-img-id{
        height: 120px;
    }
    button{
        width:70%;
       margin-left: 15%;
    }
  }
  @media (min-width: 500px) and (max-width:619px){
    .div-cotainer{
        margin-top:0;
        display: flex;
        flex-direction: column-reverse;
        font-size: 15px;
    }   

    #div-right{
        width: 90%;
        margin-left: 5%;
    }
    .timer-div{
        padding-left: 3%;
    }
    #question-img-id{
        width:50%;
    }
    #div-img2{
        margin-left: 25%;
        width:100%;
    }
    #div-img{
        height:130px;
        margin-top:0%;
        justify-content: center;
    }
    #timer-img-id{
        height: 120px;
        padding-right: 5%;
    }
    button{
        width:70%;
       margin-left: 15%;
    }
  }
  @media (min-width:400px) and (max-width: 499px){
    .div-cotainer{
        margin-top:0;
        display: flex;
        flex-direction: column-reverse;
        font-size: 12px;
        width: 100%;
    }   
    #div-right{
        width:100%;
    }
    #div-img2{
        width:100%;
    }
    #div-img{
        justify-content: center;
    }
    .timer-img-div{
        width:50%;
        text-align: end;
    }
    .timer-div{
        width:50%;
    }
    #question-img-id{
        width:50%;
        margin-left: 25%;
    }
  }
  @media (max-width:399px){
    .div-cotainer{
        margin-top:0;
        display: flex;
        flex-direction: column-reverse;
        font-size: 12px;
        width: 100%;
    }   
    #div-right{
        width:100%;
    }
    #div-img2{
        width:80%;
        margin:0 auto;
    }
    #div-img{
        justify-content: center;
    }
    .timer-img-div{
        width:50%;
        text-align: end;
    }
    .timer-div{
        width:50%;
    }
    #question-img-id{
        width:100%;
        }
  }
