*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Signika Negative', sans-serif;
}
body{
  overflow-x:hidden;
  overflow-y: auto;
}
span{
  color: rgb(0, 38, 161);
}
.logo{
  width: 4rem;
}
html {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(45deg, #43dcff, #ffffff , rgb(194, 210, 255));
    background-size: 400% 400%;
    animation: animateBackground 10s ease infinite;
  }
  .welcomeP{
    font-size: 30px;
    font-weight: bold;
    color: rgb(71, 71, 214);
  }
  .secondP{
    color:rgb(71, 71, 214);
  }
  @keyframes animateBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

header{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.welcome-div1{
    /* margin-top: 2rem; */
    margin-left: 2rem;
    text-align: left;
    font-size: 35px;
}
.ppp{
  font-size: 24px;
  color: rgb(0, 0, 80);
}
.ppp:hover{
  font-size: 26px;
  color: black;
  transition: .5s;
}

#img1{
    width: 35rem;
    height: 35rem;
    /* border: 2px solid black; */
}

#btn{
    width: 15rem;
    height: 4rem;
    border-radius: .5rem;
    border: .5 solid black;
    font-size: 20px;
}
#btn:hover{
  width: 16rem;
  transition: .5s;
  box-shadow: 2px 2px 10px  rgb(40, 40, 189);
  font-size: 25px;
  color: black;


}
/* Media Queries for Responsiveness */
@media (min-width: 951px) and (max-width: 1230px) {
  .secondP{
    font-size:20px;
  }
}

@media (min-width: 751px) and (max-width: 950px) {
  header{
    width:100%;
    /* margin: 0 auto; */
    margin-left: 0;
    text-align: center;
  }
  .welcomeP{
    font-size:24px;
  }
  .secondP{
    font-size: 20px;
  }
  #img-div{
    width:50%;
  }
  #img1{
    /* height:500px; */
    width: 100%;
  }

  .welcome-div1{
    width:50%;
    margin-left:3%;
  }
  }
  
  @media screen and (max-width: 750px) {
    #img-div{
      height:250px;
    }
    #img1 {
      margin-left:auto;
      margin-right: auto;
      height: 250px;

      width:60%;
    }
    #btn {
      font-size: 16px;
    }
    header{
      display: flex;
      flex-direction: column-reverse;
      margin:0 auto;
      font-size:30px;
      text-align: center;
  
    }
    .secondP{
      font-size: 16px;
    }
    .welcomeP{
      font-size:20px;
    }
      .welcome-div1 {
        font-size: 24px;
        text-align: center;
        margin: 0 auto;
      }
    }
    

  
  @media screen and (max-width: 320px) {  
    #btn {
      width: 100%;
        margin-left:0;
        font-size: 18px;
    }
   
  }
  