*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 214);
    font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Signika Negative', sans-serif;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}
span{
    color: aqua;
}

html {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(45deg, #d3d1ff, #ffffff , rgb(194, 210, 255));
    background-size: 400% 400%;
    animation: animateBackground 10s ease infinite;
  }
  
  @keyframes animateBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* --------Header-------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem;
}
.logo{
    border-radius: 100%;
    width: 5rem;
}
.Logout1{
    font-size: 23px;
    color: rgb(9, 108, 229);
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;
}
.Logout1:hover{
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: .6s;
}
.wlc-img-div{
width:100%;
text-align:center;
}
/* --------/Header-------- */

main{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 30px;
    /* background: linear-gradient(rgba(10, 22, 111, 0.9), rgba(46, 9, 62, 0.6));
    background-size: cover;
    background-position: center; */
}
.btn2{
    width: 12rem;
    height: 4rem;
    border-radius: .5rem;
    border: 2px solid  rgb(71, 71, 214);
    font-size: 35px;
    margin-top: 1rem;
    background-color: #EDE4FF;
}
.btn2:hover{
    font-size: 42px;
    width: 14rem;
    box-shadow: 2px 2px 10px  rgb(40, 40, 189);
    transition: .5s;
}
footer{
    display: flex;
    justify-content: space-between;
}
.img1{
    width: 12rem;
}
.img2{
    width: 12rem;
}
@media (min-width:600px) and (max-width: 800px) {

  #Welcom-img {
    width: 80%;
    margin:0 auto;
  }
  main {
    height: auto;
    padding: 0.5rem;
    font-size: 20px;
  }
  .btn2 {
    width: 10rem;
    height: 3.5rem;
    font-size: 28px;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width:400px) and (max-width:600px){
  #Welcom-img {
    width: 80%;
    margin:0 auto;
  }
  main {
    height: auto;
    padding: 0.5rem;
    font-size: 20px;
  }
  .btn2 {
    width: 10rem;
    height: 3.5rem;
    font-size: 28px;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width:400px){
  #Welcom-img {
    width: 80%;
    margin:0 auto;
  }
  main {
    height: auto;
    padding: 0.5rem;
  }
  h1{
    font-size: 40px;
  }
  h5{
    font-size: 20px;
  }
  .btn2 {
    width: 10rem;
    height: 3.5rem;
    font-size: 28px;
  }

  footer {
    height: 100px;
    width:100%;
    margin:0 auto;
  }
  footer img{
    width:10%;
  }
}
@media only screen and (max-width: 1024px) {
  nav {
    padding: 0.5rem;
  }

  .Logout1 {
    font-size: 18px;
  }

  main {
    font-size: 25px;
  }

  .btn2 {
    font-size: 32px;
  }

  .img1,
  .img2 {
    width: 10rem;
  }}
